@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body{
	font-family: 'Quicksand', sans-serif;
	padding: 0;
}

.container{
	width: 85%;
	margin: 0 auto;
	



}
	main{
	padding: 20px;
	
	
}



footer{
	padding: 20px;
	color: white;
	background-color: #23372C;
	text-align: center;
	font-weight: 400;
}

nav a {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: white;

}

nav a:hover {
	font-weight: bold;
	color: orange;
}

.profile{
	display: flex;
}


.featured-image{
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;

}

.profile img{

	width: 500px;
	margin-right: 30px;
	

}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}

.jumbotron{
	background-image : linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url(../asset/5.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 20px;
	padding: 60px;
	text-align: center;
	color: white;
	height: 540px;
	padding-top: 100px;
}


.isi-blog, .isi-content, .skill{
	display: flex;
	
	
	

}

.isi-blog{
	width: 600px;

}

.isi-content{

}

.isi-blog img{
	width: 200px;
}


nav li{
	display: inline;
	list-style-type: none;
	margin-right: 20px;

}

nav{
	background-color: #23372C;
	padding: 5px;
	position: sticky;
	top: 0;
}



 main{

 	padding: 20px;
 	overflow: auto;
 }

 * {
   box-sizing: border-box;
}

header{
	display: inline;
}


.head-content{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	color: #AEAEAE;
	margin-top: 100px;


}

.btn{

	background-color: #79d70f;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	color: black;
	border-radius: 20px;
	text-decoration: none;
}

.skill{
	text-align: center;

}



.skill .fas{
	font-size: 60px;
	padding: 20px;
	color: #79d70f;
	text-align: center;
}
.skill .fas:hover{
	color: orange;
	transform: rotate(20deg);
}



@media screen and (max-width: 1000px) {




	.jumbotron h1{
		font-size: 30px;

	}


	.isi-blog{
		width: 420px;

	}

	.container{
		width: 100%;
		margin: 0 auto;
	}
	.profile, .isi-blog, .isi-content, .skill{
	 	display: block;

	 	
	}
	

	.profile img, .isi-blog img{
	 	width: 380px;

	}

	.skill{
		text-align: center;
		
	}


   .content,
   aside {
       width: 100%;
       padding: 0;

   }


}
